section.top-page{
   background-size: cover;
   height: 15vh;
   padding: 25px;

}
nav.nav{
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 400px;
	margin-left: 30px;
}
nav.nav li a{
	color: white;
	text-decoration: none;
	cursor: all-scroll;
}
body{
	
	background-color:rgb(10, 119, 121);
}